.container {
    margin-top: 10rem;
    display: flex;
  }
  
  .filters {
    width: 350px;
  
    border-radius: 15px;
    padding: 1rem;
  
  }
  
  .generes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Cards_Generes {
    padding-left: 25px;
  }
 