.container01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:  8rem;
  margin-bottom: 10vh;
}

.cont-02 {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  
  border-radius: 15px;
background: #eae8e8;
box-shadow:  11px 11px 22px #b5b4b4,
             -11px -11px 22px #ffffff;
   }

.cont-03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.col-input-00{
  display: flex;
  align-self: center;
  gap: 5px;
}
.text-center {
  text-align: center;
}

.col-input-01,
.col-input-02,
.col-input-03,
.col-input-04,
.col-input-05 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 100%;
}

.input-edit,
.edit-select {
  margin-right: 10px;
  width: 48%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
}

.edit-select {
  width: 100%;
}

.btn-form-edit {
  margin-top: 10px;
  font-size: 14pt;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  background-color: #0383ad;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-form-edit:hover {
  background-color: #1a7fd2;
  color: #fff;
}


.input-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}


.input-wrapper input[type="file"] {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
}

.input-wrapper .btn-preview {
  display: inline-block;
  background: #2196F3;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 15px;
}

.input-wrapper .btn-preview:hover {
  background: #0D47A1;
}

.preview-wrapper {
  display: flex;
  flex-wrap: wrap;
  
}

.preview-wrapper img {
  width: 140px;
  height: 180px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}






.preview-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
}

.input-section{
  margin-top: 7rem;
}

.conteudo-atualizar{
  margin-top: 5rem;
}

.col-input-check{
  display: flex;
 margin-top: 10px;
}
.div-check-edit-1{
display: flex;
align-items: center;

margin-right: 20px;
}
.div-check-edit-2{
display: flex;
align-items: center;
}

.checkbox-wrapper-31:hover .check {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

.checkbox-wrapper-31 .background {
  fill: #d6c1c1;
box-shadow:  5px 5px 13px #cacaca,
             -5px -5px 13px #f6f6f6;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .stroke {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .check {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dashoffset: 22;
  stroke-dasharray: 22;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  -appearance: none;
  -webkit-appearance: none;
}

.checkbox-wrapper-31 input[type=checkbox]:hover {
  cursor: pointer;
}

.checkbox-wrapper-31 input[type=checkbox]:checked + svg .background {
  fill: #6cbe45;
}

.checkbox-wrapper-31 input[type=checkbox]:checked + svg .stroke {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-31 input[type=checkbox]:checked + svg .check {
  stroke-dashoffset: 0;
}
#icon-info-dash{
 margin-left: 5px;
 color: #2196F3; 
}