


.card-anum {
  position: relative;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 490px;
  height: 280px;
  margin: 20px;
  border: 1px solid #ccc;
}

.book-image {
  width: 160px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.book-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}
.book-info-ds{
  color: #fff;
}
.book-synopsis {
  margin-bottom: 12px;
}

.book-info-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1px;
  margin-right: 5px;
  align-items: center;
  margin-bottom: 6px;
}

.book-info {
  margin-bottom: 6px;
  margin-left: 2px;
  margin-right: 2px;
}
.span-txt{
  font-weight: 600;
  color: black;
  
}
.dropdown-annum {
  position: absolute;
  top: 8px;
  right: 42px;
  z-index: 3;
}

/* Adicione mais estilos conforme necessário */


.con-anum{
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}


.image-with-title {
    position: relative;
    width: 220px;
    height: 300px;
    border-radius: 20px;
  }
  
  .icon-container-ca {
    position: absolute;
    top: 2px;
    right: 45px;

  }
  
  .icon-ca {
    font-size: 24px;
  }
  
  .image-ca {
    width: 100%;
    height: auto;
  }
  
  .title-ca {
    text-align: center;
    align-items: center;

    font-size: 12pt;
    color: #fff;
    position: absolute;
    bottom: 10px;

  }
  .custom-carousel .carousel-control-prev-icon,
  .custom-carousel .carousel-control-next-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  #icon-not-anum{
    font-size: 150pt;


  }
  #icon-delete{
   
    color: black;
    font-size: px;
    font-weight: bold;
    width: 18px;
    height: 20px;
    display: flex;
    margin-right: 5px;
    
  }
  #icon-edit{

    color: black;
    font-size: 28px;
    font-weight: bold;
    width: 18px;
    height: 20px;
    display: flex;
    margin-right: 5px;
    
  }
  
  #drop-edit1{
    background-color: transparent;
    height: 20px;
    width: 25px;
    margin-top: 30px;
    padding-top: 0px;
    
  }
  #drop-edit2{
    background-color: transparent;
  } 
  #drop-edit1:hover{
    background-color: transparent;
  }
  #drop-edit2:hover{
    background-color: transparent;
  }
  #icon-delete:hover{
   
  }
  .col-not-anum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin-bottom: 3rem;

  }
  .col-not-anum p{
    font-size: 18pt;
  }
  .custom-carousel .carousel-control-next-icon {
    margin-right: 0;
    margin-left: 10px;
  }
  
  .custom-carousel .carousel-control-prev-icon:hover,
  .custom-carousel .carousel-control-next-icon:hover {
    background-color: darkblue;
  }
  .div-txt{
    margin-top: 8rem;
  }