/* ModalSecurity.css */
  
  .modal-content {
    border-radius: 10px;
  }
  
  .modal-header {
    background-color: #1d96e6;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .modal-title {
    font-weight: bold;
  }
  
  .modal-body {
    margin-bottom: 30px;
  }
  
  .modal-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  @media (max-width: 576px) {
    .modal-dialog {
      margin: 0.5rem;
    }
  }
  