.navbar{
  margin-bottom: 500rem;
}
.edit-nav-pr{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.icon-size {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  #img-logo{
    width: 110px;
  }
  .icon{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #00a8ff;
  }
  .icon:hover{
    color: #0480be;
    text-decoration: none;
  }
  .icon-size .user-name{
    display: flex;
    flex-direction: column;
  }
  
  .container-input {
    position: relative;
  }
  
  .input-pesquisa {
    width: 180px;
    padding: 8px 0px 8px 35px;
    border-radius: 9999px;
    color: #333;
    border: solid 1px #00a8ff;
    transition: all .2s ease-in-out;
    outline: none;
    font-size: 10pt;
    opacity: 0.8;
  }
  .input-pesquisa:hover{
    border: solid 1px #00a8ff;
  }
  
  #edit-tx-dr:hover{
    text-decoration: none;
  }
  #link-edit-tx:hover{
    text-decoration: none;
  }
  #link-edit-tx {
    color: #000000;
  }
  
  .container-input svg {
    position: absolute;
    color: #00a8ff;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  .input-pesquisa{
    color: #000000;
  }
  .input-pesquisa:focus {
    opacity: 1;
    width: 280px;
    color: #000000;
  }
  #sua-conta-edit{
    text-decoration: none;
  }
  .icon-size-drop{
    font-size: 2rem;
    display: flex;
    align-items: center;

  }
  #dropdown-split-basic{
    background: transparent;
    color: #333;
    border: none;

  }
  #btn-drop{
    padding-left: -15px;
    background-color: transparent;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    font-weight: 600;
    border: none;
    text-decoration: none;
    width: 68px;
    margin-top: 2px;
    
  }
  #btn-drop:hover{
    color: #000000;
    text-decoration: none;
    border: none;
  }
  .edit-user-name{
    font-size: 12pt;
  }
  .btn_nav{
    margin: 0px, 20px, 0px, 50px;
    margin-left: 10px;
    
    border: transparent;
    border-radius: 15px;
    font-weight: 500;
    color: #fff;
    transition: 2s;
    background-image: linear-gradient(to top,  #00aaffb7 0%,  #00a8ff 100%);
   
  }
  .btn_nav:hover{
    background-image: linear-gradient(to top, #48c6ef 0%, #66aff9 100%);
    transition: 2s;
  }
  @media (max-width: 600px) {
    .icon {
      flex-direction: row;
      display: block;

    }
    .icon-size{
      flex-direction: row;
      margin-left: 0px;
    }
    .btn_nav{
      margin-top: 8px;
      margin-left: 0px;
    }
  }