@import url(../Modal/Styles/ModalSecurity.css);
.container-info {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .image-container {
    position: relative;
    margin: 0 20px;
  }
  
  .icon-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
  }
  
  .icon-container i {
    font-size: 18px;
    color: #333333;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  