
  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.my-carousel {
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: -40px;
  right: 0;
  left: auto;
  bottom: auto;


}
.carousel-control-prev {

  width: 30px;
  font-size: 20pt;
  margin-right: 35px;
  color: #008ECC;  
  text-decoration: none;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.carousel-control-next {
  border-radius: 10px;
  background-color: #f2f2f2;
  font-size: 20pt;
  color: #008ECC;
  width: 30px;
}
#link-filter{
  text-decoration: none;
}
#icon-filter{
  margin-top: 2px;
  font-size: 16pt;
}
.btn-run-filter{
  display: flex;
  justify-content: end;
}
.btn-run-filter2{
  display: flex;
  align-items: center;
  font-size: 17pt;
}

#slider-edit{
  padding-bottom: 1rem;
}
#edit-h2{
  font-size: 15pt;
  color: black;
  border-bottom: 3px solid #008ECC;
  max-width: 300px;
  margin-bottom: 50px;
}
#edit-h2 span{
  color: #008ECC;
}
.link_map { 
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin-top: 25px;
  font-size: 16pt;
  font-weight: 700;
}
#link-tx{
  color: rgb(85, 83, 83);
  display: flex;
text-decoration: none;
} 
.btn_map{
  width: 180px;
  height: 40px;
  background-color: #008ECC;
  border: transparent;
  border-radius: 15px;
  font-size: 15pt;
  font-weight: 700;
    color: #fff;
  padding-top: 4px;

 
}
#icon-map{
  margin-top: 3px;
  font-size: 20pt;
}
.cards-search{
  margin-top: 6rem;
}



.section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../img/pexels-dominik-gawlik-12761264.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}



.container {
}

.section-title {
  font-size: 110px;
  color: #ffffff;
  margin-bottom: 25px;
  filter: none;
  font-family: 'Amatic SC', cursive;
}

.section-slogan {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 20px;
}

.section-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}




.button-section {
  position: relative;
  padding: 15px 35px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
}

.button-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  z-index: -1;
  transition: all 0.5s;
}

.button-section:hover::after {
  top: 0;
  left: 0;
}

.icon-1 {
  position: absolute;
  width: 15%;
  top: 10px;
  right: 15px;
  color: #ffffff;
  transform-origin: 100% 100%;
  transform: rotate(-25deg) translateX(120%) translateY(20%);
  z-index: -1;
  transition: all 0.5s;
}
.fil0{
  color: #fff;
}
#color-svg{
  color: #fff;

}

.button-section:hover .icon-1 {
  width: 25%;
  transform: rotate(10deg) translateX(110%) translateY(-40%);
}

.icon-2 {
  position: absolute;
  width: 15%;
  top: 20px;
  left: 10px;
  color: #ffffff;
  transform-origin: 100% 100%;
  z-index: -1;
  transition: all 0.5s;
}

.button-section:hover .icon-2 {
  width: 50%;
  top: -40px;
  left: -80px;
  transform: rotate(90deg);
  z-index: 1;
}