
.my-carousel {
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: -40px;
  right: 0;
  left: auto;
  bottom: auto;


}
.carousel-control-prev {

  width: 30px;
  font-size: 20pt;
  margin-right: 35px;
  color: #008ECC;  
  text-decoration: none;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.carousel-control-next {
  border-radius: 10px;
  background-color: #f2f2f2;
  font-size: 20pt;
  color: #008ECC;
  width: 30px;
}
#link-filter{
  text-decoration: none;
}
#icon-filter{
  margin-top: 2px;
  font-size: 16pt;
}
.btn-run-filter{
  display: flex;
  justify-content: end;
}
.btn-run-filter2{
  display: flex;
  align-items: center;
  font-size: 17pt;
}

#slider-edit{
  padding-bottom: 1rem;
}
#edit-h2{
  font-size: 15pt;
  color: black;
  border-bottom: 3px solid #008ECC;
  max-width: 300px;
  margin-bottom: 50px;
}
#edit-h2 span{
  color: #008ECC;
}
.link_map { 
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin-top: 25px;
  font-size: 16pt;
  font-weight: 700;
}
#link-tx{
  color: rgb(85, 83, 83);
  display: flex;
text-decoration: none;
} 
.btn_map{
  width: 180px;
  height: 40px;
  background-color: #008ECC;
  border: transparent;
  border-radius: 15px;
  font-size: 15pt;
  font-weight: 700;
    color: #fff;
  padding-top: 4px;

 
}
#icon-map{
  margin-top: 3px;
  font-size: 20pt;
}
.cards-search{
  margin-top: 6rem;
}