
.my-carousel {
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: -40px;
  right: 0;
  left: auto;
  bottom: auto;


}
.carousel-control-prev {
  margin-right: 15px;
  font-size: 20pt;
  text-decoration: none;
}

.carousel-control-next {
  margin-left: 15px;
  font-size: 20pt;
  color: #00a8ff;
}



#slider-edit{
  padding-bottom: 1rem;
}
#edit-h2{
  font-size: 15pt;
  color: black;
  border-bottom: 3px solid #008ECC;
  max-width: 300px;
  margin-bottom: 50px;
}
#edit-h2 span{
  color: #008ECC;
}
.link_map { 
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin-top: 25px;
  font-size: 16pt;
  font-weight: 700;
}
#link-tx{
  color: black;
 
text-decoration: none;
} 
.btn_map{
  width: 180px;
  height: 40px;
  background-color: #008ECC;
  border: transparent;
  border-radius: 15px;
  font-size: 15pt;
  font-weight: 700;
    color: #fff;
  padding-top: 4px;

 
}
#icon-map{
  margin-top: 3px;
  font-size: 20pt;
}
.cards-search{
  margin-top: 6rem;
}