@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,700;0,900;1,300;1,400&display=swap');
.edit-car{
width: 900px;
height: 350px;
background-color: #05abf3;
background-image: linear-gradient(to right, #02b2ff 0%, #05abf3 50%, #008ecc 100%);
box-shadow: 15px 15px 30px #bebebe,
-15px -15px 30px #ffffff;
transition: 1s;
background-image: url('../img/fundo2.png');
border-radius: 35px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 5rem;
margin-top: 8rem;
}
.edit-car:hover{
background-color: #039dde;
    transition: 1s;
    transition-delay: 0.3s; 
}
#edit-from-h1{
    font-family: 'Lato', sans-serif;
    font-size: 50pt;
    margin-top: 20px;
    margin-bottom: 20px ;
}
.img-banner{
    width: 300px;
}
.col-t1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.col-t2{
color: #fff;
align-items: center;
margin-right: 30px;
}
.col-t3{

align-items: center;
}
@media (max-width: 600px) {
    #edit-from-h1{
        font-family: 'Lato', sans-serif;
        font-size: 20pt;
        margin-top: 4px;
        margin-bottom: 4px ;
    }
    .col-t2, h6, h5{
        font-size: 4pt;
    }
    .edit-car{
        width: 900px;
        height: 350px;
        background-color: #05abf3;
        background-image: linear-gradient(to right, #02b2ff 0%, #05abf3 50%, #008ecc 100%);
        box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
        transition: 1s;
        background-image: url('../img/fundo3.png');
        border-radius: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
        margin-top: 8rem;
        }
    
  }