.col-login1{
  border: none;
 
  margin-top: 2rem;
  background-color: #0093E9;
background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
border-radius: 50px;
padding-bottom: 1rem;
box-shadow:  33px 33px 89px #777777,
           -33px -33px 89px #ffffff;
}
.text-center.edit-gen {
text-align: center;
margin-bottom: 10px;
}

.custom-select {
width: 180px;
padding: 10px;
font-size: 1em;
border: none;
border-radius: 4px;
background-color: #f2f2f2;
color: #23242a;
transition: background-color 0.3s;
}

.custom-select:focus {
outline: none;
background-color: #e0e0e0;
}

.col-login2{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.etr-edit{
text-decoration: none;
color: #d0cece;
margin-left: 2px;
}
.col-login3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#logo-lg{
  width: 180px;
}
.inputbox {
  position: relative;
  width: 290px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #ffffff;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span {
  color: #fff;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0,75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~i,
.inputbox input:focus ~i {
  height: 44px;
}
.button-name {
  align-items: center;
  justify-content: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: flex;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;

  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
 }
 .edit-p{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 #edit-link-regis{
  font-size: 11pt;
  color: #d0cece;
  text-decoration: none;
 }
 #edit-link-regis:hover{
  text-decoration: none;
  color: #0093E9;
 }
 .button-name:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
 }
 
 .button-name:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
 }
 
 .button-name:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
 }
 @media (max-width: 600px) {
  .col-login{
      display: none;

  }
  #img-lg-mb{
      display: none;
  }
  .col-login1{
      margin-top: 2rem;
  }
  
}

.inputbox-date {
  position: relative;
  width: 290px;
  margin-top: 1rem;
  
  margin-bottom: 1rem;
}

.inputbox-date input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #ffffff;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox-date span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: transparent;
  letter-spacing: 0.05em;
  transition: 0.5s;
  pointer-events: none;
}
.inputbox-date input:focus{
  color: #23242a;
}
.inputbox-date input.focused ~ span,
.inputbox-date input:focus ~ span {
  color: #fff;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0.75em;
}

.inputbox-date i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox-date input.focused ~ i,
.inputbox-date input:focus ~ i {
  height: 44px;
}
.inputbox-date input[type="date"]::-webkit-input-placeholder {
  color: transparent;
}

.inputbox-date input[type="date"]::-moz-placeholder {
  color: transparent;
}

.inputbox-date input[type="date"]::-ms-input-placeholder {
  color: transparent;
}

.inputbox-date input[type="date"]:focus::-webkit-input-placeholder {
  color: #fff;
}

.inputbox-date input[type="date"]:focus::-moz-placeholder {
  color: #fff;
}

.inputbox-date input[type="date"]:focus::-ms-input-placeholder {
  color: #fff;
}
